@model Go_Parking.Models.Veiculo

@{
    ViewBag.Title = "Deletar";
}
<div class="boxPagina">

    <h2>Deletar</h2>

    <div>
        <h4>Veiculo</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Placa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Placa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-primary" /> |
                @Html.ActionLink("Voltar à listagem", "Index")
            </div>
        }
    </div>
    </div>