@model IEnumerable<Go_Parking.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}
<div class="boxPagina">
    <div class="textoTopo">
        <h2>Veículos</h2>

        <p>
            @Html.ActionLink("Cadastrar Veículo", "Cadastrar")
        </p>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Porte)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Porte)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                        @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
  
    </div>
