@model Go_Parking.Models.Relatorio


<tr>
    <td>
        @Html.DisplayFor(model => model.VagaNome)
    </td>

    <td>
        @Html.DisplayFor(model => model.Modelo) - @Html.DisplayFor(model => model.Placa)

    </td>
    <td>
        R$@Html.DisplayFor(model => model.Valor),00

    </td>
    <td>
        @Html.DisplayFor(model => model.HorasReservadas.TimeOfDay)
    </td>
    <td>
        @Html.DisplayFor(model => model.Entrada.DateTime)
    </td>
    <td>
        @Html.DisplayFor(model => model.Saida.DateTime)
    </td>
</tr>