@model Go_Parking.Models.Vaga

@{
    ViewBag.Title = "Deletar";
}
<div class="boxPagina">
<h2>Deletar</h2>

<div>
    <h4>Vaga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à listagem", "Index")
        </div>
    }
</div>
    </div>