@model IEnumerable<Go_Parking.Models.VagaReservasViewModel>

@{
    ViewBag.Title = "Detalhes";
}

<head>
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

</head>

@{
    if (TempData["MensagemErro"] != null)
    {
        <script type="text/javascript">

            alert("Vaga não está ocupada");
        </script>
    }
}

<div class="boxPagina">
    <h2>Reservas na vaga @ViewBag.VagaNome hoje</h2>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <p>Veículo</p>
                </th>
                <th>
                    <p>Tempo</p>                                
                </th>
                <th>
                    <p>Valor</p>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Entrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Saida)
                </th>

                <th>
                    <span>Ações</span>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo) - @Html.DisplayFor(modelItem => item.Placa)
                        <p style="border:1px solid gray; background-color: #@Html.DisplayFor(modelItem =>item.Cor); width:125px; height:20px;"> </p>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorasReservadas)
                    </td>
                    <td>
                        R$@Html.DisplayFor(modelItem => item.Valor),00

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saida)
                    </td>
                    <td>

                        <a href="@Url.Action("_LiberarVaga","Vagas", new { id = item.ReservaId })" class="btn btn-warning">
                            <span class="glyphicon glyphicon-check  "></span> Liberar
                        </a>

                        <a href="@Url.Action("_Deletar","Reservas", new { id = item.ReservaId })" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash  "></span> Cancelar
                        </a>

                    </td>
                </tr>
            }


        </table>
    </div>
</div>