@model IEnumerable<Go_Parking.Models.Vaga>

@{
    ViewBag.Title = "Vagas";
}
<div class="jumbotron" style="padding:20px">
    <h2>Vagas</h2>

    <p>
        @Html.ActionLink("Cadastrar vaga", "Cadastrar")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Porte)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porte)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
