@model Go_Parking.Models.Reserva
@using Microsoft.AspNet.Identity
<head>
  

</head>
<div class="modal show modal-overlay" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="modal-header">
                    <h3>Confirmação de reserva</h3>
                </div>                
                <div class="col-md-12">
                    <div class="form-group">
@using (Html.BeginForm("Confirmacao", "Reservas", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

                        <table class="table vertical ">
                            <tr>
                                <th><span style="font-weight:bold" >Entrada:</span></th>
                                <td>@ViewBag.Entrada</td>
                            </tr>
                           
                             <tr>
                                <th><span style="font-weight:bold" >Saída:</span></th>
                                <td>@ViewBag.Saida</td>
                            </tr>
                            
                            <tr>
                                <th><span style="font-weight:bold" >Veículo:</span></th>
                                <td>@ViewBag.VeiculoModelo
                                @ViewBag.VeiculoPlaca</td>
                            </tr>

                            <tr>
                                <th><span style="font-weight:bold">Vaga Selecionada:</span></th>
                                <td>@ViewBag.Vaga</td>
                            </tr>

                            <tr>
                                <th><span style="font-weight:bold">Tempo reservado:</span></th>
                                <td>@ViewBag.TempoReservado</td>
                            </tr>

                            <tr>
                                <th><span style="font-weight:bold">Valor estimado:</span></th>
                                <td>R$@Html.DisplayFor(model => model.Valor),00</td>
                            </tr>
                            
                            <tr>
                                <th><span style="font-weight:bold">Forma de pagamento:</span></th>
                                <td style="padding-left:35px">@Html.DropDownList("FormaPagamentos", new SelectList(ViewBag.FormaPagamentos, "Value", "Text"), new { @class = "form-control" })</td>
                            </tr>
                      </table>
                    
                            <div class="col-md-4 pull-right">
                                <div class="form-group">

                                    <input type="submit" value="Confirmar" name="Cancelar" class="btn btn-reservar btn-primary " />
                                </div>
                        </div>
}
                        <div class="col-md-4 pull-left">
                            <div class="form-group">

                                <a href="@Url.Action("Index", "Reservas")">
                                    <input type="submit" value="Cancelar" name="Cancelar" class="btn btn-cancelar "  />
                                </a>
                            </div>
                        </div>
                           
                    </div>                               
                    </div>   
            </div>
        </div>
    </div>
</div>