@using PagedList.Mvc;
@model  PagedList.IPagedList<Go_Parking.Models.Reserva>
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
@using (Html.BeginForm("Index", "Reserva", FormMethod.Get))
{
    <p>
        Procurar por data: @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" name="Pesquisar" />
    </p>

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Vaga", "Index", new { sortOrder = ViewBag.NomeParam })
        </th>
        <th>
            @Html.ActionLink("Data Entrada", "Index", new { sortOrder = ViewBag.DateParam })
        </th>
        <th>
            @Html.ActionLink("Data Saida", "Index", new { sortOrder = ViewBag.DatesParam })
        </th>
        <th>
            @Html.ActionLink("Valor", "Index", new { sortOrder = ViewBag.ValorParam })
        </th>
        <th>
            @Html.ActionLink("Forma de pagamento", "Index", new { sortOrder = ViewBag.PagaParam })
        </th>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VagaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)

            </td>
        </tr>
    }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        Page,
        sortOrder = ViewBag.Currentsort,
        currentFilter = ViewBag.currentFilter
    }))




