@using PagedList.Mvc;
@model  PagedList.IPagedList<Go_Parking.Models.Relatorio>
@{
    ViewBag.Title = "Detalhes";
}

<head>
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'pt-br',
                useCurrent: 'hour',
                sideBySide: true,
                format: 'DD/MM/YYYY',
                enabledHours: [9, 10, 11, 12, 13, 14, 15, 16],

            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'pt-br',
                //minDate: $('#datetimepicker2').datetimepicker('option', 'minDate'),
                format: 'DD/MM/YYYY',
                enabledHours: [9, 10, 11, 12, 13, 14, 15, 16]
            });
        });
    </script>

</head>

<body>
<div class="boxPagina">

    <h2><b>Relatório</b></h2>
    @using (Html.BeginForm("Detalhes", "Reservas", FormMethod.Get))
    {
        <div class="col-md-7" style="left:250px">

            <div class="form-group" style="float:left">
                @Html.Label("Período inicial")
                    <div class='input-group date' id='datetimepicker1'>
                    <input name="periodoInicial" type="text" class="form-control" style="width:90%" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group" >
                @Html.Label("Período final")
                <div class='input-group date' id='datetimepicker2'>
                    <input name="periodoFinal" type="text" class="form-control" style="width:90%"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-11" style="right:22px">
                <div class="form-group pull-right">
                    <input type="submit" value="Pesquisar" name="Pesquisar" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>

    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Vaga", "Detalhes", new {
               sortOrder = ViewBag.VagaParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("Cliente", "Detalhes", new
           {
               sortOrder = ViewBag.ClienteParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("E-mail", "Detalhes", new
           {
               sortOrder = ViewBag.EmailParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("Veículo", "Detalhes", new
           {
               sortOrder = ViewBag.Veiculo,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("Valor", "Detalhes", new
           {
               sortOrder = ViewBag.ValorParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("Tempo Estacionado", "Detalhes", new
           {
               sortOrder = ViewBag.TempoParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>
            <th>
                @Html.ActionLink("Data Entrada", "Detalhes", new
           {
               sortOrder = ViewBag.DataEntradaParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal
           })
            </th>

            <th>
                @Html.ActionLink("Data Saida", "Detalhes", new
           {
               sortOrder = ViewBag.DataSaidaParam,
               dataInicial = ViewBag.dataInicial,
               dataFinal = ViewBag.dataFinal

           })
            </th>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VagaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo) - @Html.DisplayFor(modelItem => item.Placa)

                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => item.Valor),00

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasReservadas.Hours):
                    @Html.DisplayFor(modelItem => item.HorasReservadas.Minutes):
                    @Html.DisplayFor(modelItem => item.HorasReservadas.Seconds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrada.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saida.DateTime)
                </td>
            </tr>
            }
        </table>
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Detalhes", new
   {
       page,
       sortOrder = ViewBag.Currentsort,
       dataInicial = ViewBag.dataInicial,
       dataFinal = ViewBag.dataFinal
   }))


    </div>

    </body>