@model Go_Parking.Models.ApplicationUser

@{
    ViewBag.Title = "Detalhes";
}
<div class="boxPagina" >

    <h2>Detalhes</h2>

    <div>
        <h4>Funcionário</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
        @Html.ActionLink("Voltar à listagem", "Index")
    </p>
</div>