@model Go_Parking.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
}

<h2>@ViewBag.Title.</h2>


<div align="left" class="modal show  modal-overlay modal-fundo" tabindex="-1" role="dialog" aria-hidden="true">
    <div align="left" class="modal-dialog" style="width: 630px">
        <div class="modal-content" style="margin: 70px 100px">
            <div class="modal-header">
                <h2 class="text-center">@ViewBag.Title</h2>
                <h4 class="text-center">Digite seu e-mail</h4>
            </div>
            <div class="modal-body text-center">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group" style="padding-left:70px">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label", })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
                </div>
            </div>
            <div align="left" class="form-group" style="width:100%">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Enviar Link" />
                    <div align="left">
                        <p><span style="margin:50px"><p>@Html.ActionLink("Retornar para a tela de login.", "Login")</p></span></p>
                    </div>
                </div>
            </div>
           
}

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>