@model Go_Parking.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginStart.cshtml";
    ViewBag.Title = "Registrar nova conta";
}
<div class="modal show modal-fundo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 70px 100px">
            <div class="modal-header">
                <h2 class="text-center">@ViewBag.Title</h2>
                <h4 class="text-center">Por favor, preencha os dados.</h4>
            </div>
            <div class="modal-body text-center">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form col-md-12 center-block", role = "form" }))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group" style="padding-left:100px">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @style = "width:100%", @placeholder = "Nome" })
            </div>

            <div class="form-group" style="padding-left:100px">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width:100%", @placeholder = "E-mail" })
            </div>
            <div class="form-group" style="padding-left:100px">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:100%", @placeholder = "Senha" })
            </div>
            <div class="form-group" style="padding-left:100px">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "width:100%", @placeholder = "Confirmação da senha" })
            </div>
            <div class="form-group" style="padding-left:100px">
                <div>
                    <input type="submit" class="btn btn-padrao" value="Registrar" />
                </div>
            </div>
            <span><p>@Html.ActionLink("Eu possuo uma conta", "Login")</p></span>
}
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}