@model Go_Parking.Models.IndexViewModel
@{
    ViewBag.Title = "Minha Conta";
}
<div class="boxPagina">
    <h2>@Html.DisplayFor(model => model.Nome)</h2>

    <div>
        <h4>Dados da conta</h4>
        <hr />
        <table class="table vertical ">
            <tr>
                <th>Nome:</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th>E-mail:</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            
            <tr>
                <th>Perfil:</th>
                <td>@Html.DisplayFor(model => model.Perfil)</td>
            </tr>

            <tr>
                <th>Senha:</th>
                <td>@Html.ActionLink("Mude sua senha", "AtualizarSenha")</td>
            </tr>
        </table>
        
    
    </div>
</div>